ovos-utils>=0.2.1,<1.0.0
ovos_bus_client>=0.0.8,<2.0.0
ovos-config>=0.0.12,<1.0.0
combo_lock~=0.2
requests~=2.26
quebra_frases
langcodes~=3.3.0

# see https://github.com/pypa/setuptools/issues/1471
importlib_metadata

# needed explicitly since python 3.12
setuptools
