ovos-utils < 0.1.0, >=0.0.32
ovos-bus-client < 0.1.0, >=0.0.3
ovos-config < 0.1.0,>=0.0.8
combo_lock~=0.2
requests~=2.26
quebra_frases
langcodes~=3.3.0

# see https://github.com/pypa/setuptools/issues/1471
importlib_metadata